/* Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* All The Colours of the website should ONLY be updated here using CSS Variables */
:root{
  --colour-primary: #ffffff;
  --colour-background:#ffffff;
  --colour-text:#000000;
  --colour-menu-shadow:#f8885f;
  --colour-about-shadow:#ffafa1;
  --colour-grid-item:#c8e5ff;
  --colour-link-hover:#007bff;
  --colour-footer-shadow:#f8885f;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  min-height: 100vh; /* Takes full height of the screen */
  margin: 0; /* removes default margins */
  color: var(--colour-text);
  background-color:var(--colour-background);
}

/* Header Styling */
header {
  text-align: center;
  padding: 1rem 1.25rem;
  background: var(--colour-background);
  color: var(--colour-text);
}

/* Navigation Bar Styling */

nav {
  background: var(--colour-background);
  padding: 1rem 5%;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--colour-menu-shadow);

}

nav menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1.25rem; /* This is 20px (20 / 16 = 1.25) */
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: var(--colour-text);
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  color: var(--colour-link-hover);
  outline: none;
}

ul{
  list-style-type: none;
/* display:flex; */
/* flex-direction: column; */
/* flex-wrap: wrap; */
/* gap:1rem; */
/* text-align: center; */
}

a {
  text-decoration: none;
  color: var(--colour-text);
  font-weight: bold;
}

main {
  flex: 1; /* This "grows" to fill all available space, pushing the footer down */
  text-align: center;
  padding: 1rem;
  background-color: var(--colour-background);
}

.about-div {
  display:flex;
  flex-direction: column;
  flex:1;
  box-shadow: 0 0 0.5rem var(--colour-about-shadow);
}
/* Main layouts */
.grid-layout {
  display: grid;
  grid-template-columns: auto;
  gap: 2.5rem;
  padding: 2.5rem 5%;
  max-width: 90vw;
  margin: 0 auto;
}

.item {
  background: var(--colour-background);
  color: var(--colour-text);
  padding: 1.25rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.375rem var(--colour-grid-item);
  text-align: center;
}

.item ul {
  text-align: left;
}

/* Heading Styling */
h1 {
  font-size: clamp(
    1.5rem,
    5vw,
    3rem
  ); /* Minimum 1.5rem, Preferred 5vw, Maximum 3rem */
  line-height: 1.2;
  color: var(--colour-text);
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 1rem 1.25rem;
  background: var(--colour-background);
  color: var(--colour-text);
  /* border-top: 1px solid #4a4a4a; */
  /* box-shadow: inset -3px 20px 20px 5px #ffffff; */
  box-shadow: 0 0 0.3rem var(--colour-footer-shadow);

}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1.25rem; /* This is 20px (20 / 16 = 1.25) */
}

footer a {
  text-decoration: none;
  color: var(--colour-text);
  font-weight: bold;
}

footer a:hover,
footer a:focus {
  color: var(--colour-link-hover);
}

footer p {
  margin: 0; /*This will keep the footer text aligned with the links */
}
