/* Base Styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full height of the screen */
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #333;
  background-color: #f4f4f4;
}

/* Header Styling */
header {
  text-align: center;
  padding: 1rem 1.25rem;
  background: #fff0e0;
  color: #ffffff;
}

/* Navigation Bar Styling */

nav {
  background: #fff;
  padding: 1rem 5%;
  box-shadow: 0 2px 5px #ff4d00;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1.25rem; /* This is 20px (20 / 16 = 1.25) */
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
}

main {
  flex: 1; /* This "grows" to fill all available space, pushing the footer down */
  text-align: center;
  padding: 1rem;
  background-color: #ffffff;
}

/* Main layouts */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.5rem;
  padding: 2.5rem 5%;
  max-width: 75rem;
  margin: 0 auto;
}

.item {
  background: #78d294;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem #175405;
  text-align: center;
}

/* Heading Styling */
h1 {
  font-size: clamp(
    1.5rem,
    5vw,
    3rem
  ); /* Minimum 1.5rem, Preferred 5vw, Maximum 3rem */
  color: #000746;
}

/* Footer Styling */
footer {
  /* text-align: center;
   */
  display: flex;
  font-size: 0.9rem;
  padding: 1rem 1.25rem;
  background: #ffef77;
  color: #000000;
  border-top: 1px solid #000;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1.25rem; /* This is 20px (20 / 16 = 1.25) */
}

footer a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

footer a:hover {
  color: #007bff;
}

footer p {
  margin: 0; /*This will keep the footer text aligned with the links */
}
