/* Navigation Bar Styling */
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1.25rem; /* This is 20px (20 / 16 = 1.25) */
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
}

/* Heading Styling */
h1 {
  font-size: clamp(
    1.5rem,
    5vw,
    3rem
  ); /* Minimum 1.5rem, Preferred 5vw, Maximum 3rem */
  color: #535bf2;
}
